## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# API for Agora: https://console.agora.io/
AGORA_API="**REPLACE_WITH_AGORA_API**"

# Temp RTC Token for Agora: https://console.agora.io/  Features -> Temp Token for Audio/Video Call
AGORA_TEMP_RTC_TOKEN="**REPLACE_WITH_AGORA_TEMP_RTC_TOKEN**"